@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');

body {
    background: #111111;
    color: #ffffff;
    max-width: 100%;
    display: flex;   
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding: 0 2%;
    font-family: Saira, sans-serif;
}


/* Página Principal */
.offerSection h3 {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: .9em;
}

.offerCards {
    background-color: #ffffff;
    border-radius: 2em;
    width: 80%;
    margin: .5em auto;
    color: #111111;
    border: .4em solid transparent;
    transition: .5s;
}

.offerCards:hover {
    border: .4em solid #773ADC;
}

.offerCards .oldPrice {
    text-decoration: line-through;
    font-size: 1em;
    margin-bottom: -.9em;
}

.offerCards .newPrice {
    font-size: 1.5em;
    color: #ff0000;
    font-weight: 600;
    margin-bottom: .5em;
}

.offerCards img {
    width: 140px;
    cursor: zoom-in;
}

.offerCards button {
    border: none;
    border-radius: .5em;
    padding: .7em 1.5em;
    font-size: 1.3em;
    background-color: #36d199;
    text-transform: lowercase;
    margin-bottom: .5em;
    cursor: pointer;
    outline: none;
    transition: .5s;
}

.offerCards button:hover {
    background-color: #773ADC;
}



/* Página lojas.html */
.stores {
    margin-top: 4em;
}

.stores .storeCards {
    padding: .5em;
    margin-bottom: 2em;
    border-bottom: 1px solid #222222;
    transition: .5s;
}

.stores .storeCards:hover {
    background-color: #222222;
}

.stores .storeCards:last-child {
    border-bottom: 1px solid transparent;
}

.stores .storeCards img {
    max-width: 240px;
    border-radius: 1em;
}

/* Página contato.html */

.contact {
    display: inline-block;
    margin: 1em .2em;
    padding: .2em;
    transition: .5s;
    border-radius: .7em;
    border: 1px solid transparent;
}

.contact:hover {
    border: 1px solid #773ADC;
}


.contact i {
    font-size: 2.5em;
}

.contact p {
    font-size: 1em;
}

.contactForm {
    display: flex;
    flex-direction: column;
}

.contactForm h3 {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: .9em;
}

.contactForm label {
    display: flex;
    flex-direction: column;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.contactForm input {
    width: 80%;
    margin: .4em auto;
    border-radius: .5em;
    height: 1.5em;
    border: none;
    outline: none;
    text-align: center;
    font-size: 1.1em;
}

.contactForm textarea {
    resize: none;
    outline: none;
    border: none;
    border-radius: .2em;
    font-size: 1.1em;
    margin: 0 .7em;
    padding: .3em;
}

.contactForm button {
    display: block;
    width: 6em;
    padding: .5em;
    margin: 1em auto;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: .2em;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: .3em;
    background-color: #36d199;
    transition: .5s;
}

.contactForm button:hover {
    background-color: #773ADC;
}

@media (min-width: 1100px) {

    body {
        padding: 0 15%;
    }

/* Página principal */
    .offerSection {
        width: 50%;
        margin: 0 auto;
    }

    .offerSection h3 {
        font-size: 1.1em;
        font-weight: bold;
    }

    .offerCards {
        width: 30em;
        height: 25em;
        padding: 1em 0;
    }

    .offerCards img {
        width: 180px;
        transition: 1s;
    }

    .offerCards img:hover {
        opacity: 0.6;
        cursor: zoom-in;
    }

    .offerCards .oldPrice {
        font-size: 1.3em;
    }
    
    .offerCards .newPrice {
        font-size: 1.6em;
    }

    .offerCards button {
        margin-top: .6em;
    }


/* Página lojas.html */
    .stores {
        display: flex;
        flex-direction: initial;
        margin:  2em auto 0;
        justify-content: center;
    }

    .stores .storeCards {
        border-bottom: none;
        margin: 0 2em;
    }

    .stores .storeCards img {
        max-width: 100%;
    }


/* Página contato.html */
    .contact {
        margin: 1em 10em;
    }

    .contact i {
        font-size: 3em;
    }

    .contact p {
        letter-spacing: .1em;
        font-size: 1.3em;
    }

    .contactForm {
        display: inline-block;
    }

    .contactForm input {
        width: 65%;
        height: 1.8em;
        font-size: 1.2em;
    }

    .contactForm textarea {
        font-size: 1.3em;
    }

}