footer {
    margin-top: 2em;
    text-align: center;
}

.payContainer {
    transition: .5s;
    border: 1px solid transparent;
}

.payContainer:hover {
    border-radius: .5em;
    border: 1px solid #36d199;
}

.payContainer h3 {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: .9em;
}

.payContainer img {
    max-width: 80%;
    margin: 0 auto 1em 0;
}

.mediaContainer {
    margin-top: 3em;
}

.mediaContainer h3{
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: .9em;
}

.mediaContainer a {
    font-size: 20px;
    margin: 0 .2em;
    color: #ffffff;
    transition: .5s;
    padding: .1em .5em;
    border: 1px solid transparent;
}

.mediaContainer a i {
    width: 25px;
    text-align: center;
}

.mediaContainer a:hover {
    color: #36d199;
    border: 1px solid #36d199;
    border-radius: .2em;
}

.footerAutor {
    margin-top: 2em;
    color: #999999;
}

@media (min-width: 1100px) {
    footer {
        margin: 1.5em auto 0;
        width: 40%;
    }
}