header {
    width: 100%;
}

.navMenu {
    display: flex;
    align-items: center;
}

.navMenu img {
    max-width: 100%;
    min-width: 100px;
}

.navMenu a {
    text-align: center;
    color: white;
    text-decoration: none;
    width: 25%;
    margin-left: 35px;
}