body {
    background: #111111;
    color: #ffffff;
    width: 70%;
    display: flex;   
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding: 0 10%;
}

footer {
    text-align: center;
}

footer img {
    max-width: 100%;
}