.productSection {
    display: flex;
    flex-wrap: wrap;
}

.productSection h3 {
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: .9em;
}

.productCards {
    background-color: #ffffff;
    border-radius: .8em;
    width: 46%;
    margin: .5em 2%;
    color: #111111;
}

.productCards .oldPrice {
    text-decoration: line-through;
    font-size: 1em;
    margin-bottom: -.9em;
}

.productCards .newPrice {
    font-size: 1.5em;
    color: #ff0000;
    font-weight: 600;
    margin-bottom: .5em;
}

.productSection .productCards img {
    max-width: 140px;

}

.productCards button {
    border: none;
    border-radius: .5em;
    padding: .7em 1.5em;
    font-size: 1.3em;
    background-color: #36d199;
    text-transform: lowercase;
    margin-bottom: .5em;
    cursor: pointer;
    outline: none;
    transition: .5s;
}

.offerCards button:hover {
    background-color: #65e0b3;
}