body {
    padding: 0 5%;
}

.categories {
    margin: 2em;
}

.categories h3 {
    font-size: .9em;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.categories .categoriesButtons {
    background-color: #222222;
    color: #ffffff;
    border: none;
    border-radius: .7em;
    font-size: .7em;
    padding: 1em .3em;
    margin: .2em;
    transition: .5s;
}

.categories .categoriesButtons:hover {
    background-color: #333333;
}

.productSection {
    display: flex;
    flex-wrap: wrap;
}

.productSection h3 {
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: .9em;
}

.productCards {
    width: 140px;
    height: 300px;
    background-color: #ffffff;
    border-radius: .7em;
    margin: .5em auto;
    color: #111111;
    border: .3em solid transparent;
    transition: .5s;
}

.productCards h3 {
    font-size: .8em;
}

.productCards:hover, button:hover {
    border: .3em solid #773ADC;
}

.productCards .oldPrice {
    text-decoration: line-through;
    font-size: 1em;
    margin-bottom: -.9em;
}

.productCards .newPrice {
    font-size: 1.5em;
    color: #ff0000;
    font-weight: 600;
    margin-bottom: .5em;
}

.productSection .productCards img {
    max-width: 120px;

}

.productCards button {
    border: none;
    border-radius: .5em;
    padding: .7em 1em;
    font-size: 1.3em;
    background-color: #36d199;
    text-transform: lowercase;
    margin-bottom: -1em;
    cursor: pointer;
    outline: none;
    transition: .5s;
}

.productCards button:hover {
    background-color: #773ADC;
}

@media (min-width: 1100px) {
    
}